<?xml version="1.0"?>
<model>
    <name>target_car</name>
    <version>1.0</version>
    <sdf version='1.6'>model.sdf</sdf>

    <author>
        <name>robochz</name>
        <email>ewhaailab2026@gmail.com</email>
    </author>

    <description>
        번호판 인식 테스트용 차량 박스 모형 (4.7 x 1.9 x 1.5).
        앞면에 번호판(0.335 x 0.17, 123가4568) visual 부착. static.
    </description>
</model>
